:root{
    --color:white;
    --color-cloud:#F4F4FD;
    --color-web-plus-button:#4D5AE5;
    --background-color:#2E2F42;
    --color-navy-blue:#2E2F42;
    --color-slate:#434455;
    --color-footer:#E7E9FC;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color);
    font-weight: 400;
}

.header{
    width: 11440px;
    height: 70px;
}

.navigation {
    font-weight: 500;
}

.header-logo {
    color: var(--color-navy-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3%;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-color {
    color: var(--color-web-plus-button);
}

.list {

}

.list-item {
    list-style: none;
    display: inline;
}

.list-link {
   text-decoration: none;
   color: var(--color-navy-blue);
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 2%;
}

.address {
    
}

.address-contact { 
    list-style: none;
    display: inline;
}

.address-link{
    text-decoration: none;
    color: var(--color-slate);
    font-size: 16px;
    letter-spacing: 2%;
    
}

.hero {
    background-color: var(--background-color);
    width: 1440px;
    height: 600px;
}

.hero-text {
    color: var(--color);
    font-weight: 700;
    font-style: 56px;
    letter-spacing: 2%;
    text-align: center;
}

.button-order {
    background-color: var(--color-web-plus-button);
    color: var(--color);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4%;
}

.tech {
    width: 1440px;
}

.tech-list {
    width: 1128px;
    padding: 0;
    margin-left: 156px;
}

.tech-list-item {
    list-style: none;
    display: inline-block;
    width: 260px;
    margin: 0 24px 0 0;
}

.tech-list-item-last{
    margin: 0 0 0 0;
}
.tech-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

.tech-content {
    font-size: 16px;
    letter-spacing: 2%;
}

.what-are-we-doing {
    width: 1440px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    text-transform: capitalize;
    text-align: center;
}

.gallery{
    width: 1140px;
    padding: 0;
    margin-left: 156px;
}

.gallery-list {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0 24px 0 0;
}

.gallery-list-last{
    margin: 0 0 0 0;
}

.gallery-img {

}

.our-team {
    width: 1440px;
}

.team-list {
    padding: 0;
    margin-left: 156px;
}

.team-item {
    list-style: none;
    display: inline-block;
    margin: 0 24px 0 0;
}

.team-item-last{
    margin: 0 0 0 0;
}

.team-photo {

}

.person-name {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2%;
    color: var(--color-navy-blue);
    
}

.position-work {
    font-size: 16px;
    text-align: center;
    letter-spacing: 2%; 
}

.footer{
    width: 1440px;
    height: 310px;
    background-color: var(--color-navy-blue);
}

.footer-logo {
    color: var(--color-cloud);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3%;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-text{
    width: 264px;
    height: 72px;
}